<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/auth/register">
          <button>Register</button>
        </a>
        <a href="/auth/login">
          <button>login</button>
        </a>
      </div>
</section>
</section>
<section class="container">
<section class="home-main">
  <h1 class="home-title">Welcome on the cannabis learning platforms for starters</h1>
  <div class="home-text">
    <div class="home-left">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et 
        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
        fringilla vel, aliquet nec, 
        vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        </p>
    </div>
    <div class="home-right">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et 
        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
        pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
        fringilla vel, aliquet nec, 
        vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
        </p>
    </div>
  </div>
  <a href="/auth/login">
    <button class="home-button">Start course</button>
  </a>
</section>

</section>
<script>
</script>
