<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    {{{body}}}
  <section class="footer">
    <div>
      
    </div>
    <div>
    
    </div>
  </section>
  </body>
</html>
