<!DOCTYPE html>
<html>
  <head>
    <title>Cannabis Growing Course</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/functions.js"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.4.0/dist/confetti.browser.min.js"></script>
      {{{body}}}
<section class="footer">
    <div>
      <p>Footer</p>
    </div>
    <div>
      <p>section</p>
    </div>
</section>

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
  </script>
  </body>
</html>
