<!DOCTYPE html>
<html>
  <head>
    <title>Cannabis Growing Course</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/functions.js"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@0.4.0/dist/confetti.browser.min.js"></script>
      {{{body}}}
    
  <section class="footer">
    <div>
      <p>Footer</p>
    </div>
    <div>
      <p>section</p>
    </div>
  </section>
  </body>
</html>
