<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
    {{{body}}}
  <section class="footer">
    <div>
      <p>Hello</p>
    </div>
    <div>
      <p>There</p>
    </div>
  </section>
  </body>
</html>
