<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/auth/register">
          <button>Register</button>
        </a>
        <a href="/auth/login">
          <button>login</button>
        </a>
      </div>
</section>
</section>
<div class="container">
  <div class="content" style="margin-top: 100px;">
    <form action="/auth/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
  </div>
</div>