<section class="header">
  <section class="header-container">
      <div class="header-component-left">
        <a href="/"><img src='https://www.trzcacak.rs/myfile/full/168-1685213_marijuana-order-online-marijuana-buds.png' alt="Logo"/></a>
      </div>
      <div class="header-component-right">
        <a href="/auth/register">
          <button>Register</button>
        </a>
        <a href="/auth/login">
          <button>login</button>
        </a>
      </div>
</section>
</section>
<section class="container">
  <div class="content">
    <h1>Register now to get acces to this free course on how to grow cannabis</h1>
    <form action="/auth/register" method="POST" autocomplete="false">
      <label for="username">username</label>
      <input type="text" id="username" name="username">

      <label for="email">email</label>
      <input type="email" name="email" id="email">

      <label for="password">password</label>
      <input type="password" name="password" id="password">
 {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
    <button type="submit">Create User</button>
    <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
  </form>
  </div>
</section>

<!-- views/auth/signup.hbs -->