body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

h5,
h6 {
  margin: 5px 0px;
  font-weight: 500;
  font-size: 0.8em;
}

h6 {
  line-height: 1.5;
}

h5 {
  font-weight: 600;
}

a {
  color: #00b7ff;
}

img .logo {
  height: auto;
  width: 100px;
}

img {
  max-height: 60vh;
  width: auto;
}

.header {
  max-width: 100%;
  background-color: #7baa47;
}

.container {
  display: block;
  margin: auto;
  max-width: 1200px;
  height: 100%;
}

.header-container {
  display: flex;
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}

.header-component-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-component-left img {
  max-width: 100px;
}

.header-component-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-component-right button,
.home-button {
  margin: 0px 10px;
  padding: 10px 15px;
  border-style: none;
  border-radius: 4px;
}
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-left,
.home-right {
  width: 45%;
}

.home-button,
.start {
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #93cb56;
}

.reset {
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #db5f4d;
  color: white;
}

.home-title {
  font-size: 32px;
  text-align: center;
}

.footer {
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  background-color: #d9e871;
}

.content {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.article-container {
  overflow: auto;
  margin: 10px auto;
  padding: 10px;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  height: 100%;
}

.article-list-container {
  display: block;
  width: 100%;
  max-width: 30vw;
  left: 2px;
}

.article-list-container ol {
  list-style: none;
  padding: 2px;
  margin: 0;
  overflow-y: scroll;
  max-height: 70vh;
  position: relative;
}

.article-list-container li {
  padding: 10px 30px;
  margin: 10px 0px;
  z-index: 0;
}

.article-list-container a {
  text-decoration: none;
  color: #262626;
}

.article-list-container hr {
  width: 70%;
  border: 0.5px solid black;
}

.list-header {
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
}

.click {
  border-radius: 4px;
  background-color: #e8fae3;
  border: none;
  padding: 10px;
  max-width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.click span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.click span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.click:hover span {
  padding-right: 25px;
}

.click:hover span:after {
  opacity: 1;
  right: 0;
}

.articleList .nonClick {
  position: relative;
  background-color: #f7f7f7;
  color: #262626;
  opacity: 0.5;
  z-index: 0;
}

.canvas-wrapper {
  max-width: 50vw;
  display: block;
  margin: auto;
}

.profile-container {
  height: 100%;
  padding: 10px 0px;
  margin: 10px;
  width: 50%;
}

.nonClick span {
  visibility: hidden;
  background-color: #404040;
  color: #fff;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 11;
}

.nonClick:hover span {
  visibility: visible;
}

.article-img {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.celeb-text {
  font-size: 38px;
  background: -webkit-linear-gradient(#00cc00, #9966ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
